In [101]:
#载入numpy
import numpy as np
#载入pandas
import pandas as pd
#使用pandas载入数据集,把路径替换为你自己的
data = pd.read_csv('C:/mytools/Anaconda3/datasets/Admission_Predict.csv')
#显示以下数据集前5行
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [102]:
#查看数据集的整体信息
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
Serial No.           500 non-null int64
GRE Score            500 non-null int64
TOEFL Score          500 non-null int64
University Rating    500 non-null int64
SOP                  500 non-null float64
LOR                  500 non-null float64
CGPA                 500 non-null float64
Research             500 non-null int64
Chance of Admit      500 non-null float64
dtypes: float64(4), int64(5)
memory usage: 35.2 KB

In [103]:
#查看数据特征的统计信息
data.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [104]:
#重新载入数据集，不影响前面的结果
df = pd.read_csv('C:/mytools/Anaconda3/datasets/Admission_Predict.csv')
#丢弃掉Serial No.这个特征
df.drop(['Serial No.'], axis = 1, inplace = True)
#把去掉预测目标Chance of Admit后的数据集作为x
X = df.drop(['Chance of Admit '], axis = 1)
#把预测目标赋值给y
y = df['Chance of Admit '].values
df.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

In [105]:
#导入数据集拆分工具
from sklearn.model_selection import train_test_split
#将数据集拆分为训练数据集和测试数据集
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

#打印训练数据集中特征向量的形态
print('X_train shape:{}'.format(X_train.shape))
#打印测试数据集中的特征向量的形态
print('X_test shape:{}'.format(X_test.shape))
#打印训练数据集中目标的形态
print('y_train shape:{}'.format(y_train.shape))
#打印测试数据集中目标的形态
print('y_test shape:{}'.format(y_test.shape))

X_train shape:(375, 7)
X_test shape:(125, 7)
y_train shape:(375,)
y_test shape:(125,)

In [106]:
#导入用于回归分析的KNN模型
from sklearn.neighbors import KNeighborsRegressor
reg = KNeighborsRegressor()

In [107]:
#用模型对数据进行拟合
reg.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='uniform')

In [108]:
#打印模型的得分
print('验证数据集得分：{:.2f}'.format(reg.score(X_test, y_test)))
print('训练数据集得分：{:.2f}'.format(reg.score(X_train, y_train)))

验证数据集得分：0.75
训练数据集得分：0.81

In [109]:
#指定模型的n_neighbors=2
reg2 = KNeighborsRegressor(n_neighbors=2)
#用模型对数据进行拟合
reg2.fit(X_train, y_train)
#打印n_neighbors=2的模型得分
print('模型参数n_neighbors=2的验证集得分：{:.2f}'.format(reg2.score(X_test, y_test)))
print('模型参数n_neighbors=2的训练集得分：{:.2f}'.format(reg2.score(X_train, y_train)))

模型参数n_neighbors=2的验证集得分：0.63
模型参数n_neighbors=2的训练集得分：0.90

In [110]:
#指定模型的weights=distance
reg_w = KNeighborsRegressor(weights='distance')
#用模型对数据进行拟合
reg_w.fit(X_train, y_train)
#打印weights=distance的模型得分
print('模型参数weights=distance的验证集得分：{:.2f}'.format(reg_w.score(X_test, y_test)))
print('模型参数weights=distance的训练集得分：{:.2f}'.format(reg_w.score(X_train, y_train)))
print(reg_w)

模型参数weights=distance的验证集得分：0.74
模型参数weights=distance的训练集得分：1.00
KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=5, p=2,
          weights='distance')

In [111]:
#导入MinMaxScaler，采用数据归一化预处理
from sklearn.preprocessing import MinMaxScaler
#使用MinMaxScaler进行数据预处理
X_2 = MinMaxScaler().fit_transform(X)
print(X_2)

[[0.94       0.92857143 0.75       ... 0.875      0.91346154 1.        ]
 [0.68       0.53571429 0.75       ... 0.875      0.66346154 1.        ]
 [0.52       0.42857143 0.5        ... 0.625      0.38461538 1.        ]
 ...
 [0.8        1.         1.         ... 1.         0.88461538 1.        ]
 [0.44       0.39285714 0.75       ... 1.         0.5224359  0.        ]
 [0.74       0.75       0.75       ... 0.875      0.71794872 0.        ]]

C:\mytools\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [117]:
#将预处理后的数据集重新拆分为训练数据集和测试数据集
X_train_pp, X_test_pp, y_train, y_test = train_test_split(X_2, y, random_state=0)
#重新训练模型
reg_scaled = KNeighborsRegressor()
reg_scaled.fit(X_train_pp, y_train)

#打印模型分数
print('数据预处理后的模型验证集得分:{:.2f}'.format(reg_scaled.score(X_test_pp,y_test)))
print('数据预处理后的模型训练集得分:{:.2f}'.format(reg_scaled.score(X_train_pp,y_train)))

数据预处理后的模型验证集得分:0.75
数据预处理后的模型训练集得分:0.85

In [113]:
#输入新的数据点
X_new = np.array([[337, 118, 4, 4.5, 4.5, 9.65, 1]])
#使用.predict进行预测
prediction = reg.predict(X_new)
print('K最近邻算法模型预测结果：')
print("预测小P同学的综合评分为：{}".format(prediction))

K最近邻算法模型预测结果：
预测小P同学的综合评分为：[0.93]

In [114]:
prediction = reg_scaled.predict(X_new)
print('K最近邻算法模型预测结果：')
print("预测小P同学的综合评分为：{}".format(prediction))

K最近邻算法模型预测结果：
预测小P同学的综合评分为：[0.946]

In [115]:
prediction = reg_w.predict(X_new)
print('K最近邻算法模型预测结果：')
print("预测小P同学的综合评分为：{}".format(prediction))

K最近邻算法模型预测结果：
预测小P同学的综合评分为：[0.92]

In [116]:
prediction = reg2.predict(X_new)
print('K最近邻算法模型预测结果：')
print("预测小P同学的综合评分为：{}".format(prediction))

K最近邻算法模型预测结果：
预测小P同学的综合评分为：[0.93]